<p>leave-management works!</p>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li
        class="list-group-item">
        <!--          *ngFor="let leaveAvailable of userData">-->
        <p>Employee: </p>
        <p>Leave Available: </p>
        Casual Leave:               <br>
        Sick Leave:                 <br>
        Maternity/Paternity Leave:  <br>
        Toil:                       <br>
      </li>
    </ul>
  </div>
    <div class="col-xs-6">
      <ul class="list-group">
        <li
          class="list-group-item">
          <!--          *ngFor="let leaveValue of leaveValues; let id of leaveId"-->
          <p>Leave Requested:</p>
          Casual Leave:               <br>
          <button
            (click)="onApprove(1)"
            class="btn btn-success"
            type="button">Approve
          </button>
          <button
            (click)="onReject(1)"
            class="btn btn-danger"
            type="button">Reject
          </button>
          <button
            (click)="onCancel(1)"
            class="btn btn-primary"
            type="button">Cancel
          </button>
          <button
            (click)="onCompleted(1)"
            class="btn btn-success"
            type="button">Completed
          </button>
        </li>
      </ul>
    </div>

</div>
