<p>leave-management works!</p>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li
        class="list-group-item"
        *ngFor="let leaveData of userLeaveLeft">
        <h3>Employee ID: {{ leaveData.id }}</h3>
        <h4>Leave data of user: </h4>
        <p>Casual leave taken : </p>
        <p>Sick leave taken : </p>
        <p>Maternity/Paternity leave taken : </p>
        <p>Toil leave taken : </p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li
        class="list-group-item">
        <h4>Leave Requested: </h4>
        <p>Leave Type: </p>
        <p>Number of days : </p>
      </li>
    </ul>
  </div>
    <div class="col-xs-6">
      <ul class="list-group">
        <li
          class="list-group-item">
          <!--          *ngFor="let leaveValue of leaveValues; let id of leaveId"-->
          <p>Leave Requested:</p>
          Casual Leave:               <br>
          <button
            (click)="onApprove()"
            class="btn btn-success"
            type="button">Approve
          </button>
          <button
            (click)="onReject()"
            class="btn btn-danger"
            type="button">Reject
          </button>
          <button
            (click)="onCancel()"
            class="btn btn-primary"
            type="button">Cancel
          </button>
          <button
            (click)="onCompleted()"
            class="btn btn-success"
            type="button">Completed
          </button>
        </li>
      </ul>
    </div>

</div>
