<div class="row">
  <div class="col-xs-12">
    <app-alert
      [message]="deletionMessage"
      *ngIf="deletionMessage"
      (close)="onHandleError()"
    ></app-alert>
    <app-alert
      [message]="errorMessage"
      *ngIf="errorMessage"
      (close)="onHandleError()"
    ></app-alert>
    <ul class="list-group">
      <li
        class="li list-group-item">
        ID: {{ user.id }} <br>
        Name: {{ user.firstName }} {{ user.lastName }} <br>
        Email: {{ user.email }} <br>
        Contact: {{ user.phone }} <br>
        Status: {{ user.status }} <br>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary button-toggle">
        Manage Account
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a
          style="cursor: pointer;"
          (click)="onEdit()">Edit(user)</a></li>
        <li><a
          style="cursor: pointer;"
          (click)="onDelete()">Remove Account</a></li>
      </ul>
    </div>
  </div>
</div>
