<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Leave Manager</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- User List for Users -->
                <li
                    routerLinkActive="active">
                  <a
                    role="button"
                    (click)="goToDetail()">User(for users)</a></li>
              <li
                routerLinkActive="active"
              ><a routerLink="user/account/list">Users(admin)</a></li>
                <!-- Leave Application for Users -->
                <li
                    routerLinkActive="active">
                    <a routerLink="leave/form">Leave Application(user)</a></li>
                <!-- Leave Management for Admin -->
                <li
                    routerLinkActive="active">
                    <a routerLink="leave/manage">Manage Leave(admin)</a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"  appDropdown>
                <a
                    style="cursor: pointer;"
                    class="dropdown-toggle"
                    role="button">
                    Account
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User Add for Admin -->
                    <li><a
                            style="cursor: pointer;"
                            (click)="onAddUser()">
                            Add User
                        </a>
                    </li>
                    <li><a
                            style="cursor: pointer;"
                            (click)="onLogout()">
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
